.duxYwl {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 100vw;
    min-height: 100vh;
    padding: 180px 100px;
    position: relative;
    z-index: 3;
}

.hWCCxT {
    display: flex;
    column-gap: 40px;
}

.iMXKCx {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.bCFfMH {
    width: 100px;
}

.biUoey {
    margin-top: auto;
    margin-bottom: 20px;
    width: 310px;
}

.dDPGkn {
    color: rgb(255, 255, 255);
    opacity: 0.8;
    font-size: 20px;
    font-style: normal;
    font-family: gilroy-bold;
    font-weight: 600;
    line-height: 31.5px;
    letter-spacing: 0.8px;
}

.dshbKH {
    padding-top: 50px;
    max-width: 500px;
    font-family: gilroy-regular;
    color: rgb(255, 255, 255);
    opacity: 0.3;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.2px;
}

.dtEhqm {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 100px;
}

.biUVdo {
    position: relative;
    width: 100%;
}

.hlQyPr {
    position: absolute;
    top: -18px;
    left: 30px;
    padding: 5px 15px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgb(0, 0, 0);
    font-family: gilroy-regular;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    color: rgb(255, 255, 255);
}

.hIVSUW {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.eeTlTA {
    width: 100%;
    display: flex;
    flex: 0 1 33.33%;
    gap: 25px
}

.gmVWof {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 45px;
}

.iCNtsG {
    overflow-wrap: break-word;
}

.cSektw {
    font-family: gilroy-bold;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 6px;
    text-align: left;
    color: rgba(255, 255, 255, 0.8);
}

.hOXrWh {
    font-family: gilroy-regular;
    font-size: 20px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 0.3px;
    text-align: left;
    color: rgba(255, 255, 255, 0.3);
}

.iCNtsG {
    overflow-wrap: break-word;
}

.cSektw {
    font-family: gilroy-bold;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 6px;
    text-align: left;
    color: rgba(255, 255, 255, 0.8);
}

.iCNtsG {
    overflow-wrap: break-word;
}

.hXmhLb {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    width: 100%;
    padding-top: 50px;
}

.dTTmuO {
    border-top: 1px solid rgb(255, 255, 255);
    opacity: 0.2;
    width: 100%;
    margin: auto;
}

.edGIvt {
    display: flex;
    width: 100%;
}

.hASeTI {
    width: 100%;
    font-family: gilroy-regular;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.1px;
    text-align: start;
    color: rgb(255, 255, 255);
    opacity: 0.25;
}

.eEBJKd {
    width: 100%;
    text-align: end;
}

.ItEkq:first-child {
    padding: 0px 15px 0px 0px;
}

.ItEkq {
    font-family: gilroy-regular;
    font-size: 20px;
    width: 100%;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-align: end;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    opacity: 0.3;
    padding: 0px 15px;
    border-right: 1px solid rgb(246, 246, 246);
}

